<a href="https://colab.research.google.com/github/nish128/Customer-Segmentation/blob/main/data_cleaning(Customer_Segmentation).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [35]:
#step 1 : import libraries
import pandas as pd
#step 2 : upload dataset
df = pd.read_csv('E-Commerce data.csv', encoding='ISO-8859-1')
#check if there are any missing value
print('The missing values are:' )
print(df.isnull().sum())
#Drop rows with missing CustomerID
df.dropna(subset=['CustomerID'], inplace=True)
print("After removing missing CustomerIDs:", df.shape)
#Remove negative or zero quantities (cancelled orders)
df = df[df['Quantity'] > 0]
print("After removing negative quantities:", df.shape)
#Remove rows with UnitPrice <= 0
df = df[df['UnitPrice'] > 0]
print("After removing invalid UnitPrices:", df.shape)
#Convert InvoiceDate to datetime format
df['InvoiceDate'] = pd.to_datetime(df['InvoiceDate'], format='mixed')
# Print final info
print("\n Cleaned Data Overview:")
print(df.info())
df.sample()

The missing values are:
InvoiceNo           0
StockCode           0
Description      1454
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     135080
Country             0
dtype: int64
After removing missing CustomerIDs: (406829, 8)
After removing negative quantities: (397924, 8)
After removing invalid UnitPrices: (397884, 8)

 Cleaned Data Overview:
<class 'pandas.core.frame.DataFrame'>
Index: 397884 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    397884 non-null  object
 1   StockCode    397884 non-null  object
 2   Description  397884 non-null  object
 3   Quantity     397884 non-null  int64
 4   InvoiceDate  397884 non-null  datetime64[ns]
 5   UnitPrice    397884 non-null  float64
 6   CustomerID   397884 non-null  float64
 7   Country      397884 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 27.3+ MB
None

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
302806,563448,21506,"FANCY FONT BIRTHDAY CARD,",12,2011-08-16 14:28:00,0.42,15220.0,United Kingdom